<header>
  <span>The WEEKNDR</span>
  <br>
  <span id="tag-line"><%= link_to "Let's fix that >>>", event_path, class: "span-text" %></span>
  <p><span><strong>No weekend plans?</strong></span></p>
</header>

<section class="banner">
  <span> ⇩ How about some options? ⇩ </span>
</section>

<% party = ["Bottoms Up!", "Booze", "Drinks, please", "It's been a tough week, okay"] %>
<% eat = ["Grub", "Chow", "Munch", "Taste", "Eat"] %>
<% art = ["Food for the soul", "Something artsy", "Something fancy"] %>

<a href="/event?type=night"><section class="option" id="option-1">
  <span class="span-text"><%= party.shuffle.first %></span>
</section></a>

<a href="/event?type=food"><section class="option" id="option-2">
  <span class="span-text"><%= eat.shuffle.first %></span>
</section></a>

<a href="/event?type=art"><section class="option" id="option-3">
  <span class="span-text"><%= art.shuffle.first %></span>
</section></a>

<a href="/event?type=night"><section class="option" id="option-4">
  <span class="span-text">Gimme anything</span>
</section></a>
