<header>
  <span>The WEEKNDR</span>
</header>

<section class="banner">
  <span><strong>No weekend plans? Let's fix that. What're you up for?</strong></span>
</section>

<% party = ["Bottoms Up!", "Booze", "Drinks, please", "It's been a tough week, okay"] %>
<% eat = ["Grub", "Nom", "Chow", "Munch", "Taste", "Eat"] %>
<% art = ["Food for the soul", "Something artsy", "Something fancy"] %>

<section class="option" id="option-1">
  <span><%= link_to party.shuffle.first, event_path(:type => "night"), class: "span-text" %></span>
</section>

<section class="option" id="option-2">
  <span><%= link_to eat.shuffle.first, event_path(:type => "food"), class: "span-text" %></span>
</section>

<section class="option" id="option-3">
  <span><%= link_to art.shuffle.first, event_path(:type => "art"), class: "span-text" %></span>
</section>

<section class="option" id="option-4">
  <span><%= link_to "Gimme anything", event_path(:type => "null"), class: "span-text" %></span>
</section>
