<header>
  <span>The WEEKNDR</span>
</header>

<section class="banner">
  <span>Lookin' for somethin' to do? What are you in the mood for?: </span>
</section>

<% party = ["Drink", "Bottoms Up!", "Get this party started", "Drink, please", "It's been a tough week, okay"] %>
<% eat = ["Stuff my face", "Nom", "Chow", "Munch", "Taste", "Eat Some Food"] %>
<% art = ["Water my soul", "Something artsy", "Something fancy"] %>

<section class="option" id="option-1">
  <span><%= link_to party.shuffle.first, event_path(:type => "night"), class: "span-text" %></span>
</section>

<section class="option" id="option-2">
  <span><%= link_to eat.shuffle.first, event_path(:type => "food"), class: "span-text" %></span>
</section>

<section class="option" id="option-3">
  <span><%= link_to art.shuffle.first, event_path(:type => "art"), class: "span-text" %></span>
</section>

<section class="option" id="option-4">
  <span><%= link_to "Not making another f*%k!ng decision", event_path(:type => "null"), class: "span-text" %></span>
</section>
