/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
  color: white;
  background: url(https://source.unsplash.com/collection/135653) no-repeat;
  height: 500px;
  width: 100%;
  background-size: cover;
  text-align: center;
  line-height: 500px;
  font-size: 100px;
  margin: 10px;
  padding: 0;
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
 }


.banner {
  border: black 9px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  background: url("https://source.unsplash.com/collection/251966") no-repeat center fixed;
  background-size: cover
}

.banner span {
  height: 200px;
  width: 100%;
  font-size: 40px;
  line-height: 200px;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

#option-1 {
  border: black 9px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  background: url("https://source.unsplash.com/collection/472132") no-repeat center fixed;
  background-size: cover;
  font-size: 40px;
  line-height: 200px;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

#option-2 {
  border: black 9px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  background: url("https://source.unsplash.com/collection/622216") no-repeat center fixed;
  background-size: cover;
  font-size: 40px;
  line-height: 200px;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

#option-3 {
  border: black 9px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  background: url("https://source.unsplash.com/collection/1145164") no-repeat center fixed;
  background-size: cover;
  font-size: 40px;
  line-height: 200px;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

#option-4 {
  border: black 9px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  background: url("https://source.unsplash.com/collection/570657") no-repeat center fixed;
  background-size: cover;
  font-size: 40px;
  line-height: 200px;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

.span-text {
  color: white;
  text-decoration: none;
}
