html {
  font-family: sans-serif;
}

header {
  color: white;
  background: url(https://source.unsplash.com/collection/135653) no-repeat;
  height: 500px;
  width: 100%;
  background-size: cover;
  text-align: center;
  line-height: 500px;
  font-size: 100px;
  margin: 10px;
  padding: 0;
 }


.banner {
  background: url("https://source.unsplash.com/collection/251966") no-repeat center fixed;
  background-size: cover;
}
.banner span {
  background-color: black;
}

.option {
  opacity: 0.8;
}

.option:hover {
  opacity: 1.0;
}

.option, .banner {
  border: black 9px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  font-size: 35px;
  line-height: 200px;
  color: white;
}

.span-text, .banner, header, option {
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

#option-1 {
  background: url("https://source.unsplash.com/collection/472132") no-repeat center fixed;
  background-size: cover;
}

#option-2 {
  background: url("https://source.unsplash.com/collection/622216") no-repeat center fixed;
  background-size: cover;
}

#option-3 {
  background: url("https://source.unsplash.com/collection/1145164") no-repeat center fixed;
  background-size: cover;
}

#option-4 {
  background: url("https://source.unsplash.com/collection/570657") no-repeat center fixed;
  background-size: cover;
}

.span-text {
  color: white;
  text-decoration: none;
}

.span-text:hover{
  padding: 4px;
  background-color: white;
  color: black;
  text-shadow: none;
}

.event {
  font-size: 85px;
  background-color: black;
  color: white;
}

#event-a:hover {
  background-color: white;
  color: black;
}

#event-bg {
  background: url("https://source.unsplash.com/collection/1002785") no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
}
