html {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0 -10px;
  max-width: 100%;
  max-height: 100%;
}

header {
  color: white;
  background: url(https://source.unsplash.com/collection/135653) no-repeat;
  height: 500px;
  width: 100%;
  background-size: cover;
  margin: 10px;
  padding: 0;
 }

 header span {
   font-size: 45px;
   position: relative;
   top: 0px;
   left: 5px;
   font-style: italic;
 }

 #tag-line {
   position: relative;
   top: 140px;
   right: 100px;
   font-size: 60px;
   font-style: normal;
   padding: 5px;
 }

#down {
  position: relative;
  top: 232px;
  left: auto;
  font-style: none;
  text-align: center;
}

.banner {
  background: url("https://source.unsplash.com/collection/568015") no-repeat center fixed;
  background-size: cover;
}
.banner span {
  background-color: black;
  padding: 15px;
}

.option {
  opacity: 0.9;
}

.option:hover {
  opacity: 1.0;
}

.option, .banner {
  border: black 9px solid;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  font-size: 35px;
  line-height: 200px;
  color: white;
}

.span-text, .banner, header, option {
  text-shadow:
		-1px -1px 0 #000,
		2px -2px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}

#option-1 {
  background: url("https://source.unsplash.com/collection/472132") no-repeat center fixed;
  background-size: cover;
}

#option-2 {
  background: url("https://source.unsplash.com/collection/622216") no-repeat center fixed;
  background-size: cover;
}

#option-3 {
  background: url("https://source.unsplash.com/collection/1145164") no-repeat center fixed;
  background-size: cover;
}

#option-4 {
  background: url("https://source.unsplash.com/collection/570657") no-repeat center fixed;
  background-size: cover;
}

.span-text, a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.span-text:hover{
  padding: 10px;
  background-color: white;
  color: black;
  text-shadow: none;
}

.event {
  font-size: 70px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
}

#event-a:hover {
  background-color: white;
  color: black;
}

#event-bg {
  background: url("https://source.unsplash.com/collection/1002785") no-repeat fixed;
  background-size: cover;
  margin-left: 10px;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
}
